<dialog class="admin-dialog">
  <form action="/add-admin" method="post">
    <h3>Get admin permissions</h3>
    <p>Please enter the admin password.</p>
    <input
      class="password-input"
      type="password"
      name="admin_password"
      required
    />
    <div class="button-container">
      <button type="reset">Cancel</button>
      <button type="submit">Proceed</button>
    </div>
  </form>
</dialog>
