<main>
  <%- include("./create-post.ejs") %>
  <div class="post-container">
    <% messages.forEach((message) => { %>
      <div class="grid-cell">
        <article class="post
          <% if (message.user_id === user.id) { %>
            by-user
          <% } %>
        ">
          <div class="heading">
            <h5 class="title"><%= message.title %></h5>
          </div>
          <p class="content"><%= message.text %></p>
          <p class="username">
            <% if (message.user_id !== user.id) { %>
              Anonymous
            <% } %>
          </p>
        </article>
      </div>
    <% }) %>
  </div>
</main>