<dialog class="member-dialog">
  <form action="/add-member" method="post">
    <h3>Become a member of the clubhouse!</h3>
    <p>Please enter the super secret password to get your membership.</p>
    <input
      class="password-input"
      type="password"
      name="member_password"
      required
    />
    <div class="button-container">
      <button type="reset">Cancel</button>
      <button type="submit">Proceed</button>
    </div>
  </form>
</dialog>
