<!DOCTYPE html>
<html lang="en">
  <head> 
    <%- include("partials/head.ejs", { title }) %>
    <link rel="stylesheet" href="/styles/header.css">
    <link rel="stylesheet" href="/styles/index.css">
  </head>
  <body>
    <%- include("partials/header.ejs") %>

    <% if (!locals.user) { %>
      <%- include("partials/unauth-index.ejs", { messages }) %>
    <% } else { %>
      <%- include("partials/logged-index.ejs", { messages }) %>
    <% } %>

    <script src="/scripts/header.js"></script>
  </body>
</html>
