<!DOCTYPE html>
<html lang="en">
  <head> 
    <%- include("partials/head.ejs", { title }) %>
    <link rel="stylesheet" href="/styles/header.css">
  </head>
  <body>
    <%- include("partials/header.ejs") %>
  </body>
</html>
