<!DOCTYPE html>
<html lang="en">
  <head> </head>
  <body>
    <main>
      <div class="content">
        <form action="/log-in" method="post">
          <h2>Log in to your account</h2>

          <% if (locals.error) { %>
           <p class="error message">
            <%= error %>
           </p>
          <% } %>

          <% if (locals.successMessage) { %>
            <p class="success message">
              <%= successMessage %>
            </p>
          <% } %>

          <div class="input">
            <label for="username">Username</label>
            <input
              type="text"
              id="username"
              minlength="4"
              maxlength="15"
              name="username"
              required
            />
          </div>

          <div class="input">
            <label for="password">Password</label>
            <input type="password" minlength="4" name="password" required />
          </div>

          <button type="submit">Sign in</button>
        </form>
        <div class="sign-up-prompt">
          <p>
            Don't have an account yet?
            <a href="/sign-up"> Sign up here. </a>
          </p>
        </div>
      </div>
    </main>
  </body>
</html>
